html, body{
	background: $greyDark;
	@include font;
    font-size: $fontS;
	line-height: 1.2;
    color: $white;
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body{
	width: 100%;
	overflow-x: hidden!important;
	padding: 20px;
}
